.chessboard {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    outline: 3px solid black;
    outline-offset: 5px;
    margin: 80px auto;
}

.black-cell, .white-cell{
    width: 50px;
    height: 50px;
    float: left;
    padding: 0;
    margin: 0;
}

.black-cell{
    background-image: linear-gradient(
            #323232 0%,
            #121212 75%,
            #000000 100%
    );
}
.white-cell{
    background-image: linear-gradient(
            #ffffff 0%,
            #efefef 75%,
            #dedede 100%
    );
}
#button{
    border-radius: 5%;
    box-shadow: 1px 1px 6px 0 #d6d6d6;
    padding: 10px 10px;
    margin: 20px auto;
    border: 1px solid #222222;
    background: linear-gradient(#363636, #545454, #363636);
    color: #efefef;
    display: block;
}
#button:hover{
    background: linear-gradient(#545454, #686868, #545454);
}